.poster-box {
    margin: 20px auto 10px auto;
    width: 442px;
    height: 782.85px;
    background: #fff;
    position: relative;
    overflow: hidden;
    .photo-box {
        z-index: 109;
        img {
            position: absolute;
        }
    }

    .template-box {
        position: absolute;
        z-index: 110;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .qrcode-box {
        position: absolute;
        z-index: 111;
        img {
            width: 100%;
            height: 100%;
        }

    }
}